.white {
    color: white;
    background-color: white;
    width: 90%;
    height: 13%;
    text-align: center;
    position: absolute;
    top: 7%;
    left:0%;}


.title {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    left: 0%;
    top: 6vh;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 0.3em;
}


.title1 {
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0.5em;
    z-index: 2;
    font-weight: bold;
    margin-top: 5vh;
}


.head img {
    width: 7vw;
    text-align: center;
    position: relative;
    top: 4vh;
    left: 44vw;
}


.container {
    margin-bottom: 2%;
    margin-left: 5%;
}


p {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 3%;
    width: 80%;
    margin-left: 11vw;
}


.title2 {
    font-size: 4vw;
    margin-left: 38%;
    letter-spacing: 0.5em;
    z-index: 2;
    font-weight: bold;
    width: 6%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 41vw;
}



.button {
    font-weight: bold;
    position: relative;
    left: 20%;
    display: inline-block;
    padding: .65em 2em;
    border: 2px solid yellow;
    color: white;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 12%;
    margin-top: 2%;
    margin-left: 9vw;
}





.main img {
    text-align: center;
    width: 90vw;
    height: 84%;
    position: absolute;
    right: 5%;
    top: 19%;
}


.main video {
    text-align: center;
    width: 83%;
    margin-bottom: 10%;
    margin-top: 3vh;
    margin-left: 1%;
}


.title {
    font-size: 4vw;}